---
import { SITE, SOCIALS } from "@consts";
import Link from "./Link.astro";
import Container from "./Container.astro";

const today = new Date();
---

<footer class="space-y-6 max-w-screen-2xl mx-auto pb-20 px-5">
  <section class="animate space-y-4">
    <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
    <article>
      <p>
        If you want to get in touch with me about something or just to say hi,
        reach out on social media or send me an email.
      </p>
    </article>
    <ul class="flex flex-wrap gap-2">
      {
        SOCIALS.map((SOCIAL) => (
          <li class="flex gap-x-2 text-nowrap">
            <Link
              href={SOCIAL.HREF}
              external
              aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
            >
              {SOCIAL.NAME}
            </Link>
            {"/"}
          </li>
        ))
      }
      <li class="line-clamp-1">
        <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
          {SITE.EMAIL}
        </Link>
      </li>
    </ul>
  </section>
  <div class="animate">
    &copy; {today.getFullYear()} Kojo Patrick. All rights reserved.
  </div>
</footer>
