---
import { SITE, SOCIALS } from "@consts";
import Link from "./Link.astro";
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";
import { formatDate } from "@lib/utils";

const today = new Date();
---

<footer class="space-y-6">
  <section class="animate space-y-4">
    <Container size="lg">
      <h5 class="font-semibold text-md md:text-lg text-black dark:text-white">
        Let's Connect
      </h5>
      <article>
        <p>
          If you want to get in touch with me about something or just to say hi,
          reach out on social media or send me an email.
        </p>
      </article>
      <ul class="flex flex-wrap gap-2">
        {
          SOCIALS.map((SOCIAL) => (
            <li class="flex gap-x-2 text-nowrap">
              <Link
                href={SOCIAL.HREF}
                external
                aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
              >
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))
        }
        <li class="line-clamp-1">
          <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
            {SITE.EMAIL}
          </Link>
        </li>
      </ul>
    </Container>
  </section>
  <section class="py-5">
    <Container size="lg">
      <div class="flex items-center justify-center sm:justify-end">
        <button
          id="back-to-top"
          aria-label="Back to top of page"
          class="group flex w-fit p-1.5 gap-1.5 text-sm items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white rotate-90"
          >
            <line
              x1="19"
              y1="12"
              x2="5"
              y2="12"
              class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
            ></line>
            <polyline
              points="12 19 5 12 12 5"
              class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
            ></polyline>
          </svg>
          <div
            class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out"
          >
            Back to top
          </div>
        </button>
      </div>
    </Container>
  </section>
  <div
    class="whitespace-nowrap border-t border-black/10 dark:border-white/25 my-5 max-w-screen-lg mx-auto"
  >
  </div>
  <section class="overflow-hidden animate pb-6">
    <Container size="lg">
      <div
        class="flex items-center justify-between flex-wrap sm:grid grid-cols-1 sm:grid-cols-2 gap-3"
      >
        <div class="flex flex-col items-center sm:items-start">
          <a
            href="/"
            class="flex items-center gap-1 w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
          >
            <Image
              src="/projects/profile-image.jpg"
              width={40}
              height={40}
              alt={"Profile picture"}
            />
            {SITE.NAME}
          </a>
        </div>
        <div class="flex gap-2 justify-center sm:justify-end items-center">
          <span class="relative flex h-3 w-3">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-amber-300"
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-amber-500"
            ></span>
          </span>
          WIP
        </div>
      </div>
      <div class="flex flex-wrap items-center justify-between">
        <span
          >Accra, Ghana
          {today.toLocaleTimeString()}
          {formatDate(today)}</span
        >
        <span>&copy; {today.getFullYear()} Kojo Patrick.</span>
      </div>
    </Container>
  </section>
</footer>

<script is:inline>
  function goBackToTop(event) {
    event.preventDefault();
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  function inintializeBackToTop() {
    const backToTop = document.getElementById("back-to-top");
    backToTop?.addEventListener("click", goBackToTop);
  }

  document.addEventListener("astro:after-swap", inintializeBackToTop);
  inintializeBackToTop();
</script>
