---
import { SITE } from "@consts";
import Link from "./Link.astro";
import Container from "./Container.astro";
import { MobileNav } from "./MobileNav";
---

<header>
  <Container className="px-2 md:px-5">
    <nav class="flex items-center justify-between py-4">
      <Link href="/" underline={false}>
        <div class="font-semibold text-lg tracking-tight">
          {SITE.NAME}
        </div>
      </Link>
      <div class="flex gap-4 items-center">
        <div class="hidden md:flex gap-6 text-sm font-medium text-neutral-600">
          <Link
            href="/about"
            underline={false}
            className="hover:text-neutral-900 transition-colors"
          >
            story
          </Link>
          <Link
            href="/projects"
            underline={false}
            className="hover:text-neutral-900 transition-colors"
          >
            projects
          </Link>
        </div>
        <div class="hidden md:block">
          <Link
            href={`mailto:${SITE.EMAIL}`}
            underline={false}
            className="px-4 py-2 text-sm font-medium bg-neutral-900 text-white rounded-full hover:bg-neutral-800 transition-colors"
          >
            Say Hello
          </Link>
        </div>
        <MobileNav client:load email={SITE.EMAIL} />
      </div>
    </nav>
  </Container>
</header>
