---
import { Image } from "astro:assets";
import { Card } from "./ui/clerk-card";
import ShinyText from "./ui/shiny-text";

interface Props {
  category: string;
  title: string;
  subtitle: string;
  description: string;
  image: {
    src: string;
    alt: string;
  };
  logo?: string;
  href: string;
}

const { category, title, subtitle, description, href, logo, image, ...props } =
  Astro.props;
---

<Card title={category} className="animate">
  <div class="grid lg:grid-cols-[1fr,1.7fr] gap-4 p-4">
    <div class="grid grid-rows-[1fr,max-w-[300px]] gap-4">
      <div class="space-y-6 border rounded-xl p-4">
        <div class="space-y-4">
          <h2 class="text-lg md:text-xl font-semibold text-black/80">
            {title}
          </h2>
          <p class="text-muted-foreground text-xs text-black/80">
            {subtitle}
          </p>
          <p class="text-sm md:text-base text-black/80">
            {description}
          </p>
        </div>
        <button
          class="inline-flex h-10 cursor-pointer items-center justify-center rounded-full border border-zinc-900 bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-slate-50 transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50"
        >
          <a href={href}>
            <ShinyText text="Open case" disabled={false} speed={3} />
          </a>
        </button>
      </div>
      <div
        class="border size-full rounded-xl hidden sm:block overflow-hidden bg-zinc-100"
      >
        <Image
          src={logo || ""}
          alt={`${title} logo`}
          width={400}
          height={400}
          class="object-contain size-full p-4 overflow-hidden rounded-md"
        />
      </div>
    </div>
    <div
      class="relative h-full aspect-square rounded-xl bg-zinc-100 overflow-hidden border"
    >
      <Image
        src={image.src}
        alt={image.alt}
        class="object-cover object-right h-full overflow-hidden"
        width={800}
        height={800}
      />
    </div>
  </div>
</Card>
